<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.css" />

</head>

<body ng-app="PCDuelApp">

    <nav class="navbar navbar-info">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home">CodeOurWork</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li><a routerLink="/post">Post a Method</a>
                    </li>
                    <li><a routerLink="/browseposts">Browse Postings</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a (click)="logout()">Logout</a>
                    </li>

                    <li ng-show="signedIn()" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{fullName}}" class="img-circle gravatar">&nbsp; {{displayName}}
                            <span class="mdi-navigation-expand-more"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/profile">
                                    <i class="mdi-action-assessment"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="#/teams">
                                    <i class="mdi-action-assessment"></i> Teams
                                </a>
                            </li>
                            <li>
                                <a href="" data-toggle="modal" data-target="#pasModal">
                                    <i class="mdi-action-lock"></i> Change Password</a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()">
                                    <i class="mdi-action-exit-to-app"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

	<router-outlet></router-outlet>


    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>



    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>

    <script src="scripts/lib/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/ripples.js"></script>




</body>

</html>