<div class="jumbotron">
	<div class="container">
        <h2>Browse Available Postings</h2>
        <div class="row" ng-if= "posts!==undefined" *ngFor="let post of posts | async">
            <div class="col-md-12">
                <p><a (click)="routeSubmission(post.$key)">{{ post.title }}</a><p>
            </div>
            <div class="col-md-12">
                <p>Poster: {{ post.name }}<p>
            </div>
            <div class="col-md-6">
                <p>Date: {{ post.createdAt | date: "dd MMM yyyy hh:mm a" }}</p>
            </div>
            <div class="col-md-6">
                <p>Compensation Amount: ${{ post.compensation }}</p>
            </div>
        </div>
    </div>

</div>